<h1>Editing Profile</h1>

<%# Partial to render _form for a user to edit their profile %>
<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
