<h1>Error Message</h1>

<%# Error message that has been created as a default redirect path when a user is creating more than 1 profile, or trying to edit/destroy another users profile %>
<p>Sorry only 1 profile can be made at a time, please edit your current profile or delete your existing profile</p>

<%= link_to 'Back', profiles_path %>