<h1>Error Message</h1>

<p>Sorry only 1 profile can be made at a time, please edit your current profile or delete your listing</p>

<%# <%= link_to 'Edit', edit_profile_path %>
<%= link_to 'Back', profiles_path %>