<p id="notice"><%= notice %></p>

<h1>Home Page</h1>
<br>
<h3> This site is to help visitors find a trainer most suited for them </h3>
<br>
<h3> This site helps trainers advertise themselves and get found </h3>