<p id="notice"><%= notice %></p>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<div class="home-content">
    <h1>Welcome to Everybody Fitness</h1>
</div>
<div class="home-content">
    <h3>The hub for personal training</h3>
</div>

<div class="about-container">
    <div>
        <%= image_tag "home-image.jpg", class: "about-content-photo", alt: "woman-stretching" %>
        </div>
    <div class="about-me-title1">
        <h2 class="about-me-header">Welcome to Everybody Fitness</h2>
    </div>
</div>
<div class="about-container">
    <div>
        <%= image_tag "home-image2.jpg", class: "about-content-photo", alt: "woman-doing-dumbell-row" %>
        </div>
    <div class="about-me-title1">
        <h2 class="about-me-header">Discover your potential</h2>
    </div>
</div>
<div class="about-container">
    <div>
        <%= image_tag "home-image3.jpg", class: "about-content-photo", alt: "woman-doing-dumbell-row" %>
        </div>
    <div class="about-me-title1">
        <h2 class="about-me-header">Find your trainer now</h2>
    </div>
</div>