<h1>Editing Experience</h1>

<%# Code to render the form to edit their experience description %>
<%= render 'form', experience: @experience %>

<%= link_to 'Show', @experience %> |
<%= link_to 'Back', experiences_path %>
