<p id="notice"><%= notice %></p>

<%# Displays the experience desrciption to the user on the show page %>
<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
