/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// Adjusted scrollbar width
::-webkit-scrollbar {
    width: 8px;
}

// Adjusted scrollbar tracking color
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

// Adjusted background color of scrollbar thumb and radius
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

// Adjusted scrollbar color when hovered
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: lightgray;
    min-height: 100vh;
}

// allocate font for website to Open Sans
p,
a,
h1,
h2,
h3,
h4,
label,
textarea,
input,
button {
    font-family: 'Open Sans', sans-serif;
}


.form-signin,
.form-inputs,
.form-actions,
.form-links {
    margin: 20px;
}

h2 {
    margin-left: 20px;
}

.form-actions {
    border: 2px solid black;
    width: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}