// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
    font-size: 40px;
}

// Used flexbox to make the image and word content to flex in a row
.show-page-content {
    display: flex;
    flex-direction: row;
    // Aligned the items to be in the center of the div
    align-items: center;
}

// Adjusted the size of the front page photo container to take up 50% of the page width
.show-page-photo {
    width: 50%;
    // Allocated a margin to move content further away from edge of page
    margin: 20px;
}

// Adjusted photo size relative to the size of the container
.display-photo {
    width: 100%;
    height: 70%;
}

// Changed font size of all word content in home page
.show-content {
    font-size: 20px;
    // Added padding to bring words away from edge of screen and photo
    padding: 30px;
}

// Used flexbox to make the flex-direction of the skills icons and introduction content to be column
.show-page-introduction {
    display: flex;
    flex-direction: column;
    width: 60%;
}

// Used flexbox to <main> content flex in a column for a sticky footer
.show-page-container {
    display: flex;
    flex-direction: column;
}

.search-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Changed max-width of blog post to take up 90% of the screen width
.profile-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    // Made the maximum width of each container to be 40%
    max-width: 40%;
    height: 600px;
    // Justify the content so that all contents are in the center
    justify-content: center;
    // Added margin so that none of the blog posts are too close to one another
    margin: 30px;
}

// Set the height for profile photos to be a set height
.profile-photo {
    height: 400px;
}

// Wrapped the profile content through flexbox
.profile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// Added margins to the search bar
.search-bar {
    margin-left: 30px;
    margin-top: 50px;
}

// Responsive design to different screen size
@media screen and (max-width: 1023px) and (min-width: 479px) {
    // Changed title size of profiles
    .title {
        font-size: 30px;
    }
    // Changed subheading font size
    .subheading {
        font-size: 25px
    }
    // Changed the sizing and margins of each profile tile
    .profile-tile {
        max-width: 40%;
        height: 500px;
        // Added margin so that none of the blog posts are too close to one another
        margin: 15px;
    }
    // Changed the layout of the show profile page between desktop view
    .show-page-photo {
        width: 80%;
    }
    // Changed the height of the profile photo in tablet view
    .profile-photo {
        height: 200px;
    }
    // Changed profile name to smaller font for responsive design
    .profile-name {
        font-size: 20px;
    }
    // Changed the layout of the show profile page between desktop view
    .show-page-introduction {
        width: 80%;
    }
    // Changed the show page to wrap its contents instead of showing side by side in desktop
    .show-page-content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    // Changed the show page to flex in columns through flexbox and justify in the center
    .show-content {
        display:flex; 
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 479px) {
    // Changed title size of profiles
    .title {
        font-size: 20px;
    }
    // Changed subheading font size for phone
    .subheading {
        font-size: 15px;
    }
    // Changed the sizing and margins of each profile tile
    .profile-tile {
        max-width: 80%;
        height: 400px;
        // Added margin so that none of the blog posts are too close to one another
        margin: 15px;
    }
    // Changed the layout of the show profile page between desktop view
    .profile-photo {
        height: 200px;
    }
    // Changed the layout of the show profile page between desktop view
    .show-page-photo {
        width: 80%;
    }
    // Changed the layout of the show profile page between desktop view
    .show-page-introduction {
        width: 80%;
    }
    // Changed the show page to wrap its contents instead of showing side by side in desktop
    .show-page-content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    // Changed the show page to flex in columns through flexbox and justify in the center
    .show-content {
        display:flex; 
        flex-direction: column;
        justify-content: center;
    }
    // Changed font size of the sex/location words on mobile
    .profile-filter {
        font-size: 12px;
    }
}
